{% extends 'home_page.html' %}

{% block context %}
    <h3 align="center">{{ description }}</h3>
    <h2>Салон красоты "Люби Себя"</h2>
    <h2>Стрижки, окрашивание волос</h2>
    <h2>Маникюр, педикюр, наращивание и дизайн ногтей</h2>
    <h2>Бровки и много чего ещё!</h2>
    <h2>Запись +375 (29) 394-27-17</h2>
    <h2>ул.Уручская 11А.</h2>
    <div style="position:relative;overflow:hidden;"><a
            href="https://yandex.by/maps/org/lyubi_sebya/14964382296/?utm_medium=mapframe&utm_source=maps"
            style="color:#eee;font-size:12px;position:absolute;top:0px;">Люби
        Себя</a><a
            href="https://yandex.by/maps/157/minsk/category/hairdressers/184105812/?utm_medium=mapframe&utm_source=maps"
            style="color:#eee;font-size:12px;position:absolute;top:14px;">Парикмахерская
        в Минске</a><a
            href="https://yandex.by/maps/157/minsk/category/cosmetology/892508964/?utm_medium=mapframe&utm_source=maps"
            style="color:#eee;font-size:12px;position:absolute;top:28px;">Косметология
        в Минске</a>
        <iframe src="https://yandex.by/map-widget/v1/-/CCUJAWrWHC" width="460"
                height="300" frameborder="1" allowfullscreen="true"
                style="position:relative;"></iframe>
    </div>
{% endblock %}